.accordion {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2)
}

.accordion-button {
    color: #3A4374;
}

.accordion-body {
    input {
        margin-right: 0.5vw;
    }
    label {
        color: #3A4374;
    }
}